@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Varela+Round&display=swap');

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

html {
    font-size: 17px;
}

body {
    background-color: hsla(0, 0%, 100%, .075);
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

.categories {
    background-color: #cff7ae;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0;
}

.main_img {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(227, 255, 230);
}

.girl_img {
    height: 500px;
    width: 40%;
    object-fit: cover;
    
}

.girl_img img {
    object-fit: contain;
}


.collection {
    width: 60%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    text-align: left;
}

.collection p {
    font-size: 30px;
}

.collection h1 {
    font-size: 44px;
}

.items {
    grid-gap: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 2rem 3rem;
}

.item {
    align-items: center;
    border: 1px solid rgba(43, 63, 80, .13);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
    transition: .5s;
}

.item_img {
    width: 200px;
    height: 256px;
    object-fit: contain;

}

.rating-mini span {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
}

.rating-mini>span:before {
    content: '★';
}

.rating-mini>span.active {
    color: gold;
}

.btn {
    background-color: hsla(93, 82%, 83%, .726);
    border: 1px solid hsla(94, 48%, 72%, .726);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 5px 20px;
    width: fit-content;
}

.btn:hover {
    background-color: hsla(93, 74%, 77%, .726);
}

.under {
    border-bottom: 0.18rem solid #2b3f50;
}

.rating-mini {
    position: relative;
    width: 100px;
    margin-bottom: 15px;
}

.rating_stars {
    position: absolute;
    top: 0;
    left: 0;
}

.full_stars {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.rating_stars::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005\f005\f005\f005\f005";
    color: grey;
    font-size: 18px;

}

.full_stars::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005\f005\f005\f005\f005";
    color: gold;
    font-size: 18px;


}

.flex_stars {
    display: flex;
    gap: 5px;
}


.cart_items {

    border: 1px solid rgba(43, 63, 80, .13);
    border-radius: 0.5rem;
    display: flex;

    /* justify-content: space-between; */
    padding: 1rem;
    width: 50%;
    transition: .5s;
}

.cart_elements {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-top: 2rem;
}

.price {
    display: flex;
    padding-left: 1rem;
    gap: 10px;
}

.quentity {
    border: 1px solid rgba(43, 63, 80, .13);
    font-size: 1rem;
    font-weight: 600;
    padding: 3px 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.empty_img {
    width: 50%;
    height: 80vh;
    object-fit: cover;
    display: block;
    margin: auto;
}